# Use root/example as user/password credentials
version: '3.1'

services:

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017

  redis:
    image: redis
    restart: always
    ports:
      - 6378:6379